
.carousel {
    width:100%; /* Ancho relativo al tamaño de la pantalla */
    border-radius: 10px;
    padding:20px 80px;
    box-sizing: border-box;
}

.carousel_track {
    display: flex;
}

.img_container {
    text-align: center;
    box-sizing: border-box;
}

.img_us {
    width: 100%; /* Imagen se adapta al ancho del contenedor */
    height: auto;
    object-fit: cover;
}

.phone,
.email {
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.phone img,
.email img {
    max-width: 20px;
    fill: #898A8A;
    white-space: nowrap;
}

@keyframes slide {
    0% { transform: translateX(0); }
    26.67% { transform: translateX(0); }
    33.33% { transform: translateX(-100vw); }
    59.99% { transform: translateX(-100vw); }
    66.67% { transform: translateX(-200vw); }
    93.33% { transform: translateX(-200vw); }
    100% { transform: translateX(0); }
}

@media (max-width: 900px) {
    .carousel {
        width:100vw; /* Ancho relativo al tamaño de la pantalla */
        /*max-width: 300px; /* Ancho máximo en pantallas grandes */
        overflow: hidden;
        border-radius: 10px;
        padding: 24px 0;
        margin: 0 auto;
    }
    
    .carousel_track {
        display: flex;
        width: calc(100vw * 3); /* Ajuste relativo al contenedor */
        animation: slide 11s infinite;
        transition: transform 0.5s ease-in-out;
    }
    
    .img_container {
        text-align: center;
        flex: 0 0 100vw; /* Cada imagen ocupa el 100% del contenedor */
        box-sizing: border-box;
    }
    
    .img_us {
        width: 100%; /* Imagen se adapta al ancho del contenedor */
        height: auto;
        object-fit: cover;
    }
}