.jumbotron__container {
  padding: 30px 0px;
  position: relative; /* Define el contexto de posicionamiento */
}
.text__container {
  width: 70%;
  margin: 100px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1.2;
}
.subtitle {
  color: #fff;
  margin-top: 30px;
}

.banner_desktop{
  min-height: 300px;
  width: 100%;
}

.banner_mobile{
  display: none;
  width: 100%;
}

@media (max-width: 1441px) {
  .title {
    width: 80%;
  }
  .text__container {
    width: 70%;
    margin: 100px 0px 100px 100px;
  }
}
@media (max-width: 1025px) {
}
@media (max-width: 769px) {
  .banner_desktop{
    display: none;
  }

  .banner_mobile{
    display: block;
  }
  .jumbotron__container {
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    p {
      display: none;
    }
  }
  .title {
    text-align: center;
    margin: 150px auto 0px auto;
    font-size: 40px;
    width: 12em;
  }
}
@media (max-width: 915px) {

  .jumbotron__container {
    padding: 67px 0px;
    background-position-y: 0px;
    height: 211px;
    p {
      display: none;
    }
  }
  .text__container {
    width: 95%;
    margin: 100px auto;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 150px auto 0px auto;
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .jumbotron__container {
    padding: 50px 0px;
    background-position-y: 0px;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 150px auto 0px auto;
    font-size: 20px;
  }
}
@media (max-width: 321px) {
  .jumbotron__container {
    background-position-x: 0px;
    background-position-y: 0px;
    height: 211px;
    p {
      display: none;
    }
  }
  .text__container {
    width: 95%;
  }
}
