.aboutus_container {
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    scroll-margin-top: 60px;
}

.aboutus_container>h2 {
    padding: 20px;
    color: #3074F1;
    font-size: 2.5rem;
    line-height: 2.5rem;
}


.presentation_container {
    display: flex;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.presentation_container>* {
    width: 50%;
}


.presentation_text {
    text-align: start;
    max-width: 600px;
}

.presentation_text p {
    font-family: ProximaNova;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6rem;
}

.presentation_text h3 {
    margin: 1rem;
    margin-top: 0;
    font-size: 2.5rem;
    color:#3074F1;
    line-height: 2rem;
}

.presentation_text span{
    display: block;
    color:#3074F1;
    font-size: 1.3em;
    text-align: start;
    width: 100%;
}


.presentation_video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 590px;
    margin: 20px;
    height: auto;
}

.presentation_video *{
    height: 335px;
    width: 596px;
}


.contact_us {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
}

.img_container {
    transition: all 0.5s ease;
}


.img_us {
    min-height: auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}



.phone,
.email {
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.phone img,
.email img {
    max-width: 20px;
    fill: #898A8A;
    white-space: nowrap;
}

.img_container:hover {
    transform: scale(1.1);
}

@media (max-width: 1320px) {
    .presentation_container{
        padding: 1em;
        gap: 2rem;
    }

    .presentation_video *{
        height: 332px;
        width: 596px;
    }
}

@media (max-width: 1244px) {
    .contact_us:hover>* {
        filter: blur(0);
    }

    .img_container {
        width: 100vh;
    }

    .presentation_container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .presentation_text span{
        display: none;
    }

    .presentation_container>* {
        width: 100%;
    }

    .presentation_video *{
        width: 564px;
        height: 320px;
    }

    .presentation_text {
        padding: 0;
        width: 90%;
        max-width: none;
    }

    .presentation_text p {
        font-family: ProximaNova;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6rem;
    }

    .presentation_text h3 {
        text-align: center;
        margin: 1rem;
        margin-top: 0;
    }

    .presentation_video {
        max-width: none;
        min-width: 90%;
        width: 200px;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .aboutus_container {
        scroll-margin-top: 0px;
    }
}

@media (max-width: 800px) {
    .contact_us {
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        scroll-behavior: smooth;
    }

    .contact_us * {
        width: 100%;
    }

    .img_container {
        flex: 0 0 auto;
    }
    .presentation_container{
        padding: 0;
    }

    .presentation_text h3{
        font-size: 2rem;
    }

    .img_container:hover {
        transform: none;
    }
}

@media (max-width: 660px) {
    .presentation_video *{
        width: 576px;
        height: 263px;
    }

    .presentation_text h3{
        margin: 0;
        margin-bottom: 20px;
        font-size: 1.7rem;
    }

}

@media (max-width: 420){
    .presentation_text h3{
        margin-bottom: 20px;
    }
}

@media (max-width: 390px) {
    .aboutus_container{
        padding: 0;
    }
    }