.card_articles_content{
 display: flex;
 justify-content: center;
 width: 100%;
 padding: 0 1rem;
 gap:50px;
}

.content{
    text-align: center;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

.content h2{
    padding: 20px;
    color: #3074F1;
    font-size: 2.5rem;
    line-height: 2.5rem;
}